{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

 <div class="wrapper">
        <div class="wrapper__left">
            <h1 class="important">Bonjour ! &#129304</h1>
            <p>Moi c'est <strong>Benjamin Gleitz</strong> et je suis développeur web !  <br> Dans le cadre d'un bachelor Développeur web avec l'école <em class="important">MyDigitalSchool</em> à <em class="important">Montpellier</em>, je suis à la recherche d'un poste de <em class="important">développeur web en alternance</em>, alors n'hésite pas à me contacter ! &#128640 </p>
            <p>Junior dans le milieu, j'ai de bonnes connaissances en développement Web.<em class="important"> Je suis passionné et super motivé</em> à l'idée d'évoluer dans le monde du développement Web.</p>
        </div>
        <div class="wrapper__right">
            <div class="profil">
                <img class="profile__img" src="{{ asset('img/profile-pic.png') }}">
            </div>
        </div>
    </div>
{% endblock %}