<footer>

    <nav class="footer-nav">
        <a class="text" target="_blank" href="https://github.com/BenjaminGleitz"><i class="fab fa-github-square fa-2x"></i></a>
        <a class="text" target="_blank"  href="https://www.linkedin.com/in/benjamin-gleitz-bab1b5159/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a class="text" href="{{ path('home_index') }}">HOME</a>
        <a class="text" href="{{ path('skill_index') }}">ABOUT ME</a>
        <a class="text" href="{{ path('project_index') }}">PROJECTS</a>
    </nav>

</footer>